USE [master]
GO
/****** Object:  Database [Учебная_Колесник2]    Script Date: 26.04.2025 13:59:59 ******/
CREATE DATABASE [Учебная_Колесник2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Учебная_Колесник2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Учебная_Колесник2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Учебная_Колесник2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Учебная_Колесник2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Учебная_Колесник2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Учебная_Колесник2]
GO
/****** Object:  Table [dbo].[Гимназисты]    Script Date: 26.04.2025 13:59:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Гимназисты](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Фамилия] [varchar](50) NOT NULL,
	[Предмет] [varchar](50) NOT NULL,
	[Школа] [varchar](50) NOT NULL,
	[Баллы] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Животные_Колесник]    Script Date: 26.04.2025 13:59:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Животные_Колесник](
	[ID] [int] NOT NULL,
	[Название] [varchar](50) NULL,
	[Отряд] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Лицеисты]    Script Date: 26.04.2025 13:59:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Лицеисты](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Фамилия] [varchar](50) NOT NULL,
	[Предмет] [varchar](50) NOT NULL,
	[Школа] [varchar](50) NOT NULL,
	[Баллы] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Страны]    Script Date: 26.04.2025 13:59:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Страны](
	[Страна] [nvarchar](255) NULL,
	[Столица] [nvarchar](255) NULL,
	[Часть света] [nvarchar](255) NULL,
	[Население тыс. чел.] [float] NULL,
	[Площадь тыс. кв. км] [float] NULL,
	[Тип управления] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Страны_Колесник]    Script Date: 26.04.2025 13:59:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Страны_Колесник](
	[ID] [int] NOT NULL,
	[Название] [varchar](50) NOT NULL,
	[Площадь] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Управление_Колесник]    Script Date: 26.04.2025 13:59:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Управление_Колесник](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Вид] [varchar](225) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ученики]    Script Date: 26.04.2025 13:59:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ученики](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Фамилия] [varchar](50) NOT NULL,
	[Предмет] [varchar](50) NOT NULL,
	[Школа] [varchar](50) NOT NULL,
	[Баллы] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Цветы_Колесник]    Script Date: 26.04.2025 13:59:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Цветы_Колесник](
	[ID] [int] NOT NULL,
	[Название] [varchar](50) NULL,
	[Класс] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Страны] ([Страна], [Столица], [Часть света], [Население тыс. чел.], [Площадь тыс. кв. км], [Тип управления]) VALUES (N'Австрия', N'Вена', N'Европа', 7513, 84, 4)
INSERT [dbo].[Страны] ([Страна], [Столица], [Часть света], [Население тыс. чел.], [Площадь тыс. кв. км], [Тип управления]) VALUES (N'Великобритания', N'Лондон', N'Европа', 55928, 244, 1)
INSERT [dbo].[Страны] ([Страна], [Столица], [Часть света], [Население тыс. чел.], [Площадь тыс. кв. км], [Тип управления]) VALUES (N'Греция', N'Афины', N'Европа', 9280, 132, 4)
GO
SET IDENTITY_INSERT [dbo].[Ученики] ON 

INSERT [dbo].[Ученики] ([ID], [Фамилия], [Предмет], [Школа], [Баллы]) VALUES (1, N'Иванова', N'Математика', N'Лицей', 93.5)
INSERT [dbo].[Ученики] ([ID], [Фамилия], [Предмет], [Школа], [Баллы]) VALUES (2, N'Петров', N'Физика', N'Лицей', 99)
INSERT [dbo].[Ученики] ([ID], [Фамилия], [Предмет], [Школа], [Баллы]) VALUES (3, N'Сидоров', N'Математика', N'Лицей', 83)
SET IDENTITY_INSERT [dbo].[Ученики] OFF
GO
ALTER TABLE [dbo].[Животные_Колесник] ADD  DEFAULT ('Хищные') FOR [Отряд]
GO
ALTER TABLE [dbo].[Управление_Колесник] ADD  DEFAULT ('Республика') FOR [Вид]
GO
ALTER TABLE [dbo].[Цветы_Колесник] ADD  DEFAULT ('Двудольные') FOR [Класс]
GO
ALTER TABLE [dbo].[Страны_Колесник]  WITH CHECK ADD CHECK  (([Площадь]>(0)))
GO
ALTER TABLE [dbo].[Ученики]  WITH CHECK ADD CHECK  (([Баллы]>=(0) AND [Баллы]<=(100)))
GO
USE [master]
GO
