USE [master]
GO
/****** Object:  Database [Учебная_Колесник]    Script Date: 28.04.2025 17:52:50 ******/
CREATE DATABASE [Учебная_Колесник]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Учебная_Колесник', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Учебная_Колесник.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Учебная_Колесник_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Учебная_Колесник_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Учебная_Колесник].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Учебная_Колесник]
GO
/****** Object:  UserDefinedFunction [dbo].[Пример1]    Script Date: 28.04.2025 17:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Пример1] (@Страна AS VARCHAR(50)) RETURNS VARCHAR(50) AS BEGIN DECLARE @S1 AS VARCHAR(50) SELECT @S1 = Столица FROM Страны WHERE Название = @Страна RETURN @S1 END
GO
/****** Object:  UserDefinedFunction [dbo].[Пример2]    Script Date: 28.04.2025 17:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Пример 2: Создать функцию для перевода площади в тыс. кв. км. */
CREATE FUNCTION [dbo].[Пример2] (@Площадь AS FLOAT) RETURNS FLOAT AS BEGIN DECLARE @P2 AS FLOAT SET @P2 = ROUND(@Площадь / 1000, 2) RETURN @P2 END
GO
/****** Object:  UserDefinedFunction [dbo].[Пример3]    Script Date: 28.04.2025 17:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Пример 3: Создать функцию для вычисления плотности населения */
CREATE FUNCTION [dbo].[Пример3] (@Население AS INT, @Площадь AS FLOAT) RETURNS FLOAT AS BEGIN DECLARE @P3 AS FLOAT SET @P3 = ROUND(CAST(@Население AS FLOAT) / @Площадь, 2) RETURN @P3 END
GO
/****** Object:  UserDefinedFunction [dbo].[Пример4]    Script Date: 28.04.2025 17:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Пример4]() RETURNS VARCHAR(50) AS BEGIN DECLARE @P4 AS VARCHAR(50), @M1 AS FLOAT, @M2 AS FLOAT SELECT @M1 = MAX(Площадь) FROM Страны SELECT @M2 = MAX(Площадь) FROM Страны WHERE Площадь < @M1 SELECT @P4 = Название FROM Страны WHERE Площадь = @M2 RETURN @P4 END
GO
/****** Object:  UserDefinedFunction [dbo].[Пример5]    Script Date: 28.04.2025 17:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Пример5] (@Конт AS VARCHAR(50) = 'Европа') RETURNS VARCHAR(50) AS BEGIN DECLARE @P5 AS VARCHAR(50), @M5 AS FLOAT SELECT @M5 = MIN(Площадь) FROM Страны WHERE Континент = @Конт SELECT @P5 = Название FROM Страны WHERE Континент = @Конт AND Площадь = @M5 RETURN @P5 END
GO
/****** Object:  UserDefinedFunction [dbo].[Пример6]    Script Date: 28.04.2025 17:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Пример6] (@A6 AS VARCHAR(50)) RETURNS VARCHAR(50) AS BEGIN RETURN LEFT(@A6, 1) + REPLICATE('.', LEN(@A6) - 2) + RIGHT(@A6, 1) END
GO
/****** Object:  UserDefinedFunction [dbo].[Пример7]    Script Date: 28.04.2025 17:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Пример7] (@C7 AS CHAR(1)) RETURNS INT AS BEGIN DECLARE @K7 AS INT SELECT @K7 = COUNT(*) FROM Страны WHERE CHARINDEX(@C7, Название) > 0 RETURN @K7 END

GO
/****** Object:  Table [dbo].[Страны]    Script Date: 28.04.2025 17:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Страны](
	[Название] [nvarchar](255) NULL,
	[Столица] [nvarchar](255) NULL,
	[Площадь] [float] NULL,
	[Население] [float] NULL,
	[Континент] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Пример1Представление]    Script Date: 28.04.2025 17:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Пример 1: Создайте представление, содержащее список стран, население которых меньше 1 млн. чел., а площадь больше 100 тыс. кв. км, и используйте его */
CREATE VIEW [dbo].[Пример1Представление] AS SELECT Название, Столица, Площадь, Население, Континент FROM Страны WHERE Население < 1000000 AND Площадь > 100000
GO
/****** Object:  View [dbo].[Пример2Представление]    Script Date: 28.04.2025 17:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Пример2Представление] (Континент, Площадь, Население) AS SELECT Континент, SUM(Площадь), SUM(Население) FROM Страны GROUP BY Континент
GO
/****** Object:  View [dbo].[Задание1Представление]    Script Date: 28.04.2025 17:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Задание 1: Создайте представление, содержащее список африканских стран, население которых больше 10 млн. чел., а площадь больше 500 тыс. кв. км, и используйте его */
CREATE VIEW [dbo].[Задание1Представление] AS SELECT Название, Столица, Площадь, Население, Континент FROM Страны WHERE Континент = 'Африка' AND Население > 10000000 AND Площадь > 500000
GO
/****** Object:  View [dbo].[Задание2Представление]    Script Date: 28.04.2025 17:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Задание 2: Создайте представление, содержащее список континентов, среднюю площадь стран, которые находятся на нем, среднюю плотность населения, и используйте его */
CREATE VIEW [dbo].[Задание2Представление] (Континент, Средняя_площадь, Средняя_плотность) AS SELECT Континент, AVG(Площадь), AVG(Население / Площадь) FROM Страны GROUP BY Континент
GO
/****** Object:  Table [dbo].[Кафедра]    Script Date: 28.04.2025 17:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Кафедра](
	[Шифр] [varchar](10) NOT NULL,
	[Название] [varchar](50) NOT NULL,
	[Факультет] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Шифр] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сотрудник]    Script Date: 28.04.2025 17:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудник](
	[Таб_номер] [int] NOT NULL,
	[Шифр] [varchar](10) NOT NULL,
	[Фамилия] [varchar](50) NOT NULL,
	[Должность] [varchar](50) NOT NULL,
	[Зарплата] [decimal](10, 2) NOT NULL,
	[Шеф] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Таб_номер] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Преподаватель]    Script Date: 28.04.2025 17:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Преподаватель](
	[Таб_номер] [int] NOT NULL,
	[Звание] [varchar](50) NOT NULL,
	[Степень] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Таб_номер] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Пример3Представление]    Script Date: 28.04.2025 17:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Пример 3: Создайте представление, содержащее фамилии преподавателей, должность, каждого преподавателя, звание, степень, место работы, зарплату и используйте его */
CREATE VIEW [dbo].[Пример3Представление] (Фамилия, Должность, Звание, Степень, Кафедра, Зарплата) AS SELECT Фамилия, Должность, Звание, Степень, Название, Зарплата FROM Сотрудник С INNER JOIN Преподаватель П ON С.Таб_номер = П.Таб_номер INNER JOIN Кафедра К ON С.Шифр = К.Шифр
GO
/****** Object:  Table [dbo].[Экзамен]    Script Date: 28.04.2025 17:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Экзамен](
	[Дата] [date] NOT NULL,
	[Код] [int] NOT NULL,
	[Рег_номер] [int] NOT NULL,
	[Таб_номер] [int] NOT NULL,
	[Аудитория] [varchar](10) NOT NULL,
	[Оценка] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Дата] ASC,
	[Код] ASC,
	[Рег_номер] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Задание3Представление]    Script Date: 28.04.2025 17:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Задание 3: Создайте представление, содержащее фамилии преподавателей, их должность, звание, степень, место работы, количество их экзаменов, и используйте его */
CREATE VIEW [dbo].[Задание3Представление] (Фамилия, Должность, Звание, Степень, Кафедра, Количество_экзаменов) AS SELECT С.Фамилия, С.Должность, П.Звание, П.Степень, К.Название, COUNT(Э.Дата) FROM Сотрудник С INNER JOIN Преподаватель П ON С.Таб_номер = П.Таб_номер INNER JOIN Кафедра К ON С.Шифр = К.Шифр LEFT JOIN Экзамен Э ON С.Таб_номер = Э.Таб_номер GROUP BY С.Фамилия, С.Должность, П.Звание, П.Степень, К.Название
GO
/****** Object:  UserDefinedFunction [dbo].[Пример9]    Script Date: 28.04.2025 17:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Пример9] (@A9 AS FLOAT, @B9 AS FLOAT) RETURNS TABLE AS RETURN (SELECT Название, Столица, Площадь, Население, Континент FROM Страны WHERE Площадь BETWEEN @A9 AND @B9)
GO
/****** Object:  Table [dbo].[Академики]    Script Date: 28.04.2025 17:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Академики](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Фамилия] [nvarchar](255) NOT NULL,
	[Имя] [nvarchar](255) NOT NULL,
	[Отчество] [nvarchar](255) NOT NULL,
	[Дата_рождения] [date] NOT NULL,
	[Специализация] [nvarchar](255) NOT NULL,
	[Год_присвоения_звания] [int] NOT NULL,
 CONSTRAINT [PK_Академики] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Дисциплина]    Script Date: 28.04.2025 17:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Дисциплина](
	[Код] [int] NOT NULL,
	[Объем] [int] NOT NULL,
	[Название] [varchar](50) NOT NULL,
	[Исполнитель] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Зав_кафедрой]    Script Date: 28.04.2025 17:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Зав_кафедрой](
	[Таб_номер] [int] NOT NULL,
	[Стаж] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Таб_номер] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Заявка]    Script Date: 28.04.2025 17:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заявка](
	[Номер] [int] NOT NULL,
	[Код] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Номер] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Инженер]    Script Date: 28.04.2025 17:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Инженер](
	[Таб_номер] [int] NOT NULL,
	[Специальность] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Таб_номер] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Специальность]    Script Date: 28.04.2025 17:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Специальность](
	[Номер] [varchar](10) NOT NULL,
	[Направление] [varchar](50) NOT NULL,
	[Шифр] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Номер] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Страны_У]    Script Date: 28.04.2025 17:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Страны_У](
	[Название] [nvarchar](255) NULL,
	[Столица] [nvarchar](255) NULL,
	[Площадь] [float] NULL,
	[Население] [float] NULL,
	[Континент] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Студент]    Script Date: 28.04.2025 17:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Студент](
	[Рег_номер] [int] NOT NULL,
	[Номер] [varchar](10) NOT NULL,
	[Фамилия] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Рег_номер] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Факультет]    Script Date: 28.04.2025 17:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Факультет](
	[Аббревиатура] [varchar](10) NOT NULL,
	[Название] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Аббревиатура] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Академики] ON 

INSERT [dbo].[Академики] ([Код], [Фамилия], [Имя], [Отчество], [Дата_рождения], [Специализация], [Год_присвоения_звания]) VALUES (1, N'Аничков', N'Николай', N'Николаевич', CAST(N'1885-11-03' AS Date), N'медицина', 1939)
INSERT [dbo].[Академики] ([Код], [Фамилия], [Имя], [Отчество], [Дата_рождения], [Специализация], [Год_присвоения_звания]) VALUES (2, N'Бартольд', N'Василий', N'Владимирович', CAST(N'1869-11-15' AS Date), N'историк', 1913)
INSERT [dbo].[Академики] ([Код], [Фамилия], [Имя], [Отчество], [Дата_рождения], [Специализация], [Год_присвоения_звания]) VALUES (3, N'Белопольский', N'Аристарх', N'Аполлонович', CAST(N'1854-07-13' AS Date), N'астрофизик', 1903)
SET IDENTITY_INSERT [dbo].[Академики] OFF
GO
INSERT [dbo].[Дисциплина] ([Код], [Объем], [Название], [Исполнитель]) VALUES (101, 320, N'Математика', N'вм')
INSERT [dbo].[Дисциплина] ([Код], [Объем], [Название], [Исполнитель]) VALUES (102, 160, N'Информатика', N'пи')
INSERT [dbo].[Дисциплина] ([Код], [Объем], [Название], [Исполнитель]) VALUES (103, 160, N'Физика', N'оф')
GO
INSERT [dbo].[Зав_кафедрой] ([Таб_номер], [Стаж]) VALUES (101, 15)
INSERT [dbo].[Зав_кафедрой] ([Таб_номер], [Стаж]) VALUES (201, 18)
INSERT [dbo].[Зав_кафедрой] ([Таб_номер], [Стаж]) VALUES (301, 20)
GO
INSERT [dbo].[Заявка] ([Номер], [Код]) VALUES (1, 101)
INSERT [dbo].[Заявка] ([Номер], [Код]) VALUES (2, 101)
INSERT [dbo].[Заявка] ([Номер], [Код]) VALUES (3, 101)
GO
INSERT [dbo].[Инженер] ([Таб_номер], [Специальность]) VALUES (153, N'электроник')
INSERT [dbo].[Инженер] ([Таб_номер], [Специальность]) VALUES (241, N'электроник')
INSERT [dbo].[Инженер] ([Таб_номер], [Специальность]) VALUES (242, N'программист')
GO
INSERT [dbo].[Кафедра] ([Шифр], [Название], [Факультет]) VALUES (N'вм', N'Высшая математика', N'Ен')
INSERT [dbo].[Кафедра] ([Шифр], [Название], [Факультет]) VALUES (N'ис', N'Информационные системы', N'Ит')
INSERT [dbo].[Кафедра] ([Шифр], [Название], [Факультет]) VALUES (N'мм', N'Математическое моделирование', N'Фм')
GO
INSERT [dbo].[Преподаватель] ([Таб_номер], [Звание], [Степень]) VALUES (101, N'профессор', N'д. т.н.')
INSERT [dbo].[Преподаватель] ([Таб_номер], [Звание], [Степень]) VALUES (102, N'доцент', N'к. ф.-м. н.')
INSERT [dbo].[Преподаватель] ([Таб_номер], [Звание], [Степень]) VALUES (105, N'доцент', N'к. т.н.')
GO
INSERT [dbo].[Сотрудник] ([Таб_номер], [Шифр], [Фамилия], [Должность], [Зарплата], [Шеф]) VALUES (101, N'пи', N'Прохоров П.П.', N'зав. кафедрой', CAST(35000.00 AS Decimal(10, 2)), 101)
INSERT [dbo].[Сотрудник] ([Таб_номер], [Шифр], [Фамилия], [Должность], [Зарплата], [Шеф]) VALUES (102, N'пи', N'Семенов С.С.', N'преподаватель', CAST(25000.00 AS Decimal(10, 2)), 101)
INSERT [dbo].[Сотрудник] ([Таб_номер], [Шифр], [Фамилия], [Должность], [Зарплата], [Шеф]) VALUES (105, N'пи', N'Петров П.П.', N'преподаватель', CAST(25000.00 AS Decimal(10, 2)), 101)
GO
INSERT [dbo].[Специальность] ([Номер], [Направление], [Шифр]) VALUES (N'01.03.04', N'Прикладная математика', N'мм')
INSERT [dbo].[Специальность] ([Номер], [Направление], [Шифр]) VALUES (N'09.03.02', N'Информационные системы и технологии', N'ис')
INSERT [dbo].[Специальность] ([Номер], [Направление], [Шифр]) VALUES (N'09.03.03', N'Прикладная информатика', N'пи')
GO
INSERT [dbo].[Страны] ([Название], [Столица], [Площадь], [Население], [Континент]) VALUES (N'Австрия', N'Вена', 83858, 8741753, N'Европа')
INSERT [dbo].[Страны] ([Название], [Столица], [Площадь], [Население], [Континент]) VALUES (N'Азербайджан', N'Баку', 86600, 9705600, N'Азия')
INSERT [dbo].[Страны] ([Название], [Столица], [Площадь], [Население], [Континент]) VALUES (N'Албания', N'Тирана', 28748, 2866026, N'Европа')
GO
INSERT [dbo].[Студент] ([Рег_номер], [Номер], [Фамилия]) VALUES (10101, N'09.03.03', N'Николаева Н. Н.')
INSERT [dbo].[Студент] ([Рег_номер], [Номер], [Фамилия]) VALUES (10102, N'09.03.03', N'Иванов И. И.')
INSERT [dbo].[Студент] ([Рег_номер], [Номер], [Фамилия]) VALUES (10103, N'09.03.03', N'Крюков К. К.')
GO
INSERT [dbo].[Факультет] ([Аббревиатура], [Название]) VALUES (N'Гн', N'Гуманитарные науки')
INSERT [dbo].[Факультет] ([Аббревиатура], [Название]) VALUES (N'Ен', N'Естественные науки')
INSERT [dbo].[Факультет] ([Аббревиатура], [Название]) VALUES (N'Ит', N'Информационные технологии')
GO
INSERT [dbo].[Экзамен] ([Дата], [Код], [Рег_номер], [Таб_номер], [Аудитория], [Оценка]) VALUES (CAST(N'2015-06-05' AS Date), 102, 10101, 102, N'т505', 4)
INSERT [dbo].[Экзамен] ([Дата], [Код], [Рег_номер], [Таб_номер], [Аудитория], [Оценка]) VALUES (CAST(N'2015-06-05' AS Date), 102, 10102, 102, N'т505', 4)
INSERT [dbo].[Экзамен] ([Дата], [Код], [Рег_номер], [Таб_номер], [Аудитория], [Оценка]) VALUES (CAST(N'2015-06-05' AS Date), 202, 20101, 202, N'т506', 4)
GO
ALTER TABLE [dbo].[Дисциплина]  WITH CHECK ADD FOREIGN KEY([Исполнитель])
REFERENCES [dbo].[Кафедра] ([Шифр])
GO
ALTER TABLE [dbo].[Зав_кафедрой]  WITH CHECK ADD FOREIGN KEY([Таб_номер])
REFERENCES [dbo].[Сотрудник] ([Таб_номер])
GO
ALTER TABLE [dbo].[Заявка]  WITH CHECK ADD FOREIGN KEY([Код])
REFERENCES [dbo].[Дисциплина] ([Код])
GO
ALTER TABLE [dbo].[Инженер]  WITH CHECK ADD FOREIGN KEY([Таб_номер])
REFERENCES [dbo].[Сотрудник] ([Таб_номер])
GO
ALTER TABLE [dbo].[Кафедра]  WITH CHECK ADD FOREIGN KEY([Факультет])
REFERENCES [dbo].[Факультет] ([Аббревиатура])
GO
ALTER TABLE [dbo].[Преподаватель]  WITH CHECK ADD FOREIGN KEY([Таб_номер])
REFERENCES [dbo].[Сотрудник] ([Таб_номер])
GO
ALTER TABLE [dbo].[Сотрудник]  WITH CHECK ADD FOREIGN KEY([Шеф])
REFERENCES [dbo].[Сотрудник] ([Таб_номер])
GO
ALTER TABLE [dbo].[Сотрудник]  WITH CHECK ADD FOREIGN KEY([Шифр])
REFERENCES [dbo].[Кафедра] ([Шифр])
GO
ALTER TABLE [dbo].[Специальность]  WITH CHECK ADD FOREIGN KEY([Шифр])
REFERENCES [dbo].[Кафедра] ([Шифр])
GO
ALTER TABLE [dbo].[Студент]  WITH CHECK ADD FOREIGN KEY([Номер])
REFERENCES [dbo].[Специальность] ([Номер])
GO
ALTER TABLE [dbo].[Экзамен]  WITH CHECK ADD FOREIGN KEY([Код])
REFERENCES [dbo].[Дисциплина] ([Код])
GO
ALTER TABLE [dbo].[Экзамен]  WITH CHECK ADD FOREIGN KEY([Рег_номер])
REFERENCES [dbo].[Студент] ([Рег_номер])
GO
ALTER TABLE [dbo].[Экзамен]  WITH CHECK ADD FOREIGN KEY([Таб_номер])
REFERENCES [dbo].[Сотрудник] ([Таб_номер])
GO
ALTER TABLE [dbo].[Экзамен]  WITH CHECK ADD CHECK  (([Оценка]>=(2) AND [Оценка]<=(5)))
GO
/****** Object:  StoredProcedure [dbo].[Задание10Процедура]    Script Date: 28.04.2025 17:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Задание10Процедура] @K AS INT OUTPUT, @D AS INT AS BEGIN IF @D BETWEEN 0 AND 9 SET @K = @K * 10 + @D END
GO
/****** Object:  StoredProcedure [dbo].[Задание11Процедура]    Script Date: 28.04.2025 17:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Задание11Процедура] @K AS INT OUTPUT AS BEGIN DECLARE @Rev INT = 0, @N INT = @K WHILE @N > 0 BEGIN SET @Rev = @Rev * 10 + @N % 10 SET @N = @N / 10 END SET @K = @Rev END
GO
/****** Object:  StoredProcedure [dbo].[Задание12Процедура]    Script Date: 28.04.2025 17:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Задание12Процедура] @X AS FLOAT OUTPUT, @Y AS FLOAT OUTPUT AS BEGIN DECLARE @Temp FLOAT SET @Temp = @X SET @X = @Y SET @Y = @Temp END
GO
/****** Object:  StoredProcedure [dbo].[Задание13Процедура]    Script Date: 28.04.2025 17:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Задание13Процедура] @A AS FLOAT OUTPUT, @B AS FLOAT OUTPUT, @C AS FLOAT OUTPUT AS BEGIN DECLARE @Temp FLOAT IF @A > @B BEGIN SET @Temp = @A SET @A = @B SET @B = @Temp END IF @B > @C BEGIN SET @Temp = @B SET @B = @C SET @C = @Temp END IF @A > @B BEGIN SET @Temp = @A SET @A = @B SET @B = @Temp END END
GO
/****** Object:  StoredProcedure [dbo].[Задание14Процедура]    Script Date: 28.04.2025 17:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Задание14Процедура] @K AS INT, @C AS INT OUTPUT, @S AS INT OUTPUT AS BEGIN DECLARE @N INT = ABS(@K), @Digit INT SET @C = 0 SET @S = 0 WHILE @N > 0 BEGIN SET @Digit = @N % 10 SET @S = @S + @Digit SET @C = @C + 1 SET @N = @N / 10 END IF @K = 0 BEGIN SET @C = 1 SET @S = 0 END END
GO
/****** Object:  StoredProcedure [dbo].[Задание1Процедура]    Script Date: 28.04.2025 17:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Задание 1: Создать хранимую процедуру для вывода информации о сервере, базе данных, пользователе и времени */
CREATE PROC [dbo].[Задание1Процедура] AS BEGIN SELECT @@Servername AS Сервер, @@Version AS [Версия СУБД], Db_Name() AS [База данных], User AS [Пользователь базы данных], System_User AS [Системный пользователь], GETDATE() AS [Текущее время] END
GO
/****** Object:  StoredProcedure [dbo].[Задание2Процедура]    Script Date: 28.04.2025 17:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Задание2Процедура] AS BEGIN SELECT Название, Столица, Площадь, Население, Континент FROM Страны END
GO
/****** Object:  StoredProcedure [dbo].[Задание3Процедура]    Script Date: 28.04.2025 17:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Задание3Процедура] @Конт AS VARCHAR(50) AS BEGIN SELECT Название, Столица, Площадь, Население FROM Страны WHERE Континент != @Конт END
GO
/****** Object:  StoredProcedure [dbo].[Задание4Процедура]    Script Date: 28.04.2025 17:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Задание4Процедура] @A AS FLOAT, @B AS FLOAT AS BEGIN SELECT Название, Столица, Площадь, Население, Континент FROM Страны WHERE Население BETWEEN @A AND @B END
GO
/****** Object:  StoredProcedure [dbo].[Задание5Процедура]    Script Date: 28.04.2025 17:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Задание5Процедура] @Буква AS CHAR(1), @Количество AS INT OUTPUT AS BEGIN SELECT @Количество = COUNT(*) FROM Страны WHERE CHARINDEX(@Буква, Название) = 0 END
GO
/****** Object:  StoredProcedure [dbo].[Задание6Процедура]    Script Date: 28.04.2025 17:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Задание6Процедура] @Конт AS VARCHAR(50) = 'Африка' AS BEGIN SELECT TOP 5 Название, Столица, Площадь, Население, Континент FROM Страны WHERE Континент = @Конт ORDER BY Население DESC END
GO
/****** Object:  StoredProcedure [dbo].[Задание7Процедура]    Script Date: 28.04.2025 17:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Задание7Процедура] AS BEGIN SELECT Название, Столица, Площадь, Население, Континент INTO Страны_К FROM Страны WHERE LEFT(Название, 1) = 'К' END
GO
/****** Object:  StoredProcedure [dbo].[Задание8Процедура]    Script Date: 28.04.2025 17:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Задание8Процедура] AS BEGIN DECLARE @K AS INT SELECT @K = COUNT(*) FROM Страны_К DROP TABLE Страны_К RETURN @K END
GO
/****** Object:  StoredProcedure [dbo].[Задание9Процедура]    Script Date: 28.04.2025 17:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Задание9Процедура] @Число AS INT, @Количество AS INT OUTPUT AS BEGIN DECLARE @N INT = ABS(@Число) SET @Количество = 0 WHILE @N > 0 BEGIN SET @N = @N / 10 SET @Количество = @Количество + 1 END IF @Число = 0 SET @Количество = 1 END
GO
/****** Object:  StoredProcedure [dbo].[Пример1Процедура]    Script Date: 28.04.2025 17:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Пример 1: Создать хранимую процедуру для вывода информации о сервере, базе данных и пользователе */
CREATE PROC [dbo].[Пример1Процедура] AS BEGIN SELECT @@Servername AS Сервер, @@Version AS [Версия СУБД], Db_Name() AS [База данных], User AS [Пользователь базы данных], System_User AS [Системный пользователь] END
GO
/****** Object:  StoredProcedure [dbo].[Пример2Процедура]    Script Date: 28.04.2025 17:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Пример2Процедура] AS BEGIN SELECT Название, Столица FROM Страны END
GO
/****** Object:  StoredProcedure [dbo].[Пример3Процедура]    Script Date: 28.04.2025 17:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Пример3Процедура] @Конт AS VARCHAR(50) AS BEGIN SELECT Название, Столица, Площадь, Население FROM Страны WHERE Континент = @Конт END

GO
/****** Object:  StoredProcedure [dbo].[Пример4Процедура]    Script Date: 28.04.2025 17:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Пример4Процедура] @A AS FLOAT, @B AS FLOAT AS BEGIN SELECT Название, Столица, Площадь, Население, Континент FROM Страны WHERE Площадь BETWEEN @A AND @B END

GO
/****** Object:  StoredProcedure [dbo].[Пример5Процедура]    Script Date: 28.04.2025 17:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Пример5Процедура] @Буква AS CHAR(1), @Количество AS INT OUTPUT AS BEGIN SELECT @Количество = COUNT(*) FROM Страны WHERE CHARINDEX(@Буква, Название) > 0 END
GO
/****** Object:  StoredProcedure [dbo].[Пример6Процедура]    Script Date: 28.04.2025 17:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Пример6Процедура] @Конт AS VARCHAR(50) = 'Европа' AS BEGIN SELECT TOP 3 Название, Столица, Площадь, Население, Континент FROM Страны WHERE Континент = @Конт ORDER BY Площадь END
GO
/****** Object:  StoredProcedure [dbo].[Пример7Процедура]    Script Date: 28.04.2025 17:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Пример7Процедура] AS BEGIN SELECT Название, Столица, Площадь, Население, Континент INTO Страны_У FROM Страны WHERE LEFT(Название, 1) = 'У' END
GO
USE [master]
GO
