USE [master]
GO
/****** Object:  Database [Учебная_Колесник]    Script Date: 28.04.2025 16:29:37 ******/
CREATE DATABASE [Учебная_Колесник]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Учебная_Колесник', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Учебная_Колесник.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Учебная_Колесник_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Учебная_Колесник_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Учебная_Колесник].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Учебная_Колесник]
GO
/****** Object:  UserDefinedFunction [dbo].[Пример1]    Script Date: 28.04.2025 16:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Пример1] (@Страна AS VARCHAR(50)) RETURNS VARCHAR(50) AS BEGIN DECLARE @S1 AS VARCHAR(50) SELECT @S1 = Столица FROM Страны WHERE Название = @Страна RETURN @S1 END
GO
/****** Object:  UserDefinedFunction [dbo].[Пример2]    Script Date: 28.04.2025 16:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Пример 2: Создать функцию для перевода площади в тыс. кв. км. */
CREATE FUNCTION [dbo].[Пример2] (@Площадь AS FLOAT) RETURNS FLOAT AS BEGIN DECLARE @P2 AS FLOAT SET @P2 = ROUND(@Площадь / 1000, 2) RETURN @P2 END
GO
/****** Object:  UserDefinedFunction [dbo].[Пример3]    Script Date: 28.04.2025 16:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Пример 3: Создать функцию для вычисления плотности населения */
CREATE FUNCTION [dbo].[Пример3] (@Население AS INT, @Площадь AS FLOAT) RETURNS FLOAT AS BEGIN DECLARE @P3 AS FLOAT SET @P3 = ROUND(CAST(@Население AS FLOAT) / @Площадь, 2) RETURN @P3 END
GO
/****** Object:  UserDefinedFunction [dbo].[Пример4]    Script Date: 28.04.2025 16:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Пример4]() RETURNS VARCHAR(50) AS BEGIN DECLARE @P4 AS VARCHAR(50), @M1 AS FLOAT, @M2 AS FLOAT SELECT @M1 = MAX(Площадь) FROM Страны SELECT @M2 = MAX(Площадь) FROM Страны WHERE Площадь < @M1 SELECT @P4 = Название FROM Страны WHERE Площадь = @M2 RETURN @P4 END
GO
/****** Object:  UserDefinedFunction [dbo].[Пример5]    Script Date: 28.04.2025 16:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Пример5] (@Конт AS VARCHAR(50) = 'Европа') RETURNS VARCHAR(50) AS BEGIN DECLARE @P5 AS VARCHAR(50), @M5 AS FLOAT SELECT @M5 = MIN(Площадь) FROM Страны WHERE Континент = @Конт SELECT @P5 = Название FROM Страны WHERE Континент = @Конт AND Площадь = @M5 RETURN @P5 END
GO
/****** Object:  UserDefinedFunction [dbo].[Пример6]    Script Date: 28.04.2025 16:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Пример6] (@A6 AS VARCHAR(50)) RETURNS VARCHAR(50) AS BEGIN RETURN LEFT(@A6, 1) + REPLICATE('.', LEN(@A6) - 2) + RIGHT(@A6, 1) END
GO
/****** Object:  UserDefinedFunction [dbo].[Пример7]    Script Date: 28.04.2025 16:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Пример7] (@C7 AS CHAR(1)) RETURNS INT AS BEGIN DECLARE @K7 AS INT SELECT @K7 = COUNT(*) FROM Страны WHERE CHARINDEX(@C7, Название) > 0 RETURN @K7 END

GO
/****** Object:  Table [dbo].[Страны]    Script Date: 28.04.2025 16:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Страны](
	[Название] [nvarchar](255) NULL,
	[Столица] [nvarchar](255) NULL,
	[Площадь] [float] NULL,
	[Население] [float] NULL,
	[Континент] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[Пример9]    Script Date: 28.04.2025 16:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Пример9] (@A9 AS FLOAT, @B9 AS FLOAT) RETURNS TABLE AS RETURN (SELECT Название, Столица, Площадь, Население, Континент FROM Страны WHERE Площадь BETWEEN @A9 AND @B9)
GO
/****** Object:  Table [dbo].[Академики]    Script Date: 28.04.2025 16:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Академики](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Фамилия] [nvarchar](255) NOT NULL,
	[Имя] [nvarchar](255) NOT NULL,
	[Отчество] [nvarchar](255) NOT NULL,
	[Дата_рождения] [date] NOT NULL,
	[Специализация] [nvarchar](255) NOT NULL,
	[Год_присвоения_звания] [int] NOT NULL,
 CONSTRAINT [PK_Академики] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Страны_У]    Script Date: 28.04.2025 16:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Страны_У](
	[Название] [nvarchar](255) NULL,
	[Столица] [nvarchar](255) NULL,
	[Площадь] [float] NULL,
	[Население] [float] NULL,
	[Континент] [nvarchar](255) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Академики] ON 

INSERT [dbo].[Академики] ([Код], [Фамилия], [Имя], [Отчество], [Дата_рождения], [Специализация], [Год_присвоения_звания]) VALUES (1, N'Аничков', N'Николай', N'Николаевич', CAST(N'1885-11-03' AS Date), N'медицина', 1939)
INSERT [dbo].[Академики] ([Код], [Фамилия], [Имя], [Отчество], [Дата_рождения], [Специализация], [Год_присвоения_звания]) VALUES (2, N'Бартольд', N'Василий', N'Владимирович', CAST(N'1869-11-15' AS Date), N'историк', 1913)
INSERT [dbo].[Академики] ([Код], [Фамилия], [Имя], [Отчество], [Дата_рождения], [Специализация], [Год_присвоения_звания]) VALUES (3, N'Белопольский', N'Аристарх', N'Аполлонович', CAST(N'1854-07-13' AS Date), N'астрофизик', 1903)
SET IDENTITY_INSERT [dbo].[Академики] OFF
GO
INSERT [dbo].[Страны] ([Название], [Столица], [Площадь], [Население], [Континент]) VALUES (N'Австрия', N'Вена', 83858, 8741753, N'Европа')
INSERT [dbo].[Страны] ([Название], [Столица], [Площадь], [Население], [Континент]) VALUES (N'Азербайджан', N'Баку', 86600, 9705600, N'Азия')
INSERT [dbo].[Страны] ([Название], [Столица], [Площадь], [Население], [Континент]) VALUES (N'Албания', N'Тирана', 28748, 2866026, N'Европа')
GO
/****** Object:  StoredProcedure [dbo].[Задание10Процедура]    Script Date: 28.04.2025 16:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Задание10Процедура] @K AS INT OUTPUT, @D AS INT AS BEGIN IF @D BETWEEN 0 AND 9 SET @K = @K * 10 + @D END
GO
/****** Object:  StoredProcedure [dbo].[Задание11Процедура]    Script Date: 28.04.2025 16:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Задание11Процедура] @K AS INT OUTPUT AS BEGIN DECLARE @Rev INT = 0, @N INT = @K WHILE @N > 0 BEGIN SET @Rev = @Rev * 10 + @N % 10 SET @N = @N / 10 END SET @K = @Rev END
GO
/****** Object:  StoredProcedure [dbo].[Задание12Процедура]    Script Date: 28.04.2025 16:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Задание12Процедура] @X AS FLOAT OUTPUT, @Y AS FLOAT OUTPUT AS BEGIN DECLARE @Temp FLOAT SET @Temp = @X SET @X = @Y SET @Y = @Temp END
GO
/****** Object:  StoredProcedure [dbo].[Задание13Процедура]    Script Date: 28.04.2025 16:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Задание13Процедура] @A AS FLOAT OUTPUT, @B AS FLOAT OUTPUT, @C AS FLOAT OUTPUT AS BEGIN DECLARE @Temp FLOAT IF @A > @B BEGIN SET @Temp = @A SET @A = @B SET @B = @Temp END IF @B > @C BEGIN SET @Temp = @B SET @B = @C SET @C = @Temp END IF @A > @B BEGIN SET @Temp = @A SET @A = @B SET @B = @Temp END END
GO
/****** Object:  StoredProcedure [dbo].[Задание14Процедура]    Script Date: 28.04.2025 16:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Задание14Процедура] @K AS INT, @C AS INT OUTPUT, @S AS INT OUTPUT AS BEGIN DECLARE @N INT = ABS(@K), @Digit INT SET @C = 0 SET @S = 0 WHILE @N > 0 BEGIN SET @Digit = @N % 10 SET @S = @S + @Digit SET @C = @C + 1 SET @N = @N / 10 END IF @K = 0 BEGIN SET @C = 1 SET @S = 0 END END
GO
/****** Object:  StoredProcedure [dbo].[Задание1Процедура]    Script Date: 28.04.2025 16:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Задание 1: Создать хранимую процедуру для вывода информации о сервере, базе данных, пользователе и времени */
CREATE PROC [dbo].[Задание1Процедура] AS BEGIN SELECT @@Servername AS Сервер, @@Version AS [Версия СУБД], Db_Name() AS [База данных], User AS [Пользователь базы данных], System_User AS [Системный пользователь], GETDATE() AS [Текущее время] END
GO
/****** Object:  StoredProcedure [dbo].[Задание2Процедура]    Script Date: 28.04.2025 16:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Задание2Процедура] AS BEGIN SELECT Название, Столица, Площадь, Население, Континент FROM Страны END
GO
/****** Object:  StoredProcedure [dbo].[Задание3Процедура]    Script Date: 28.04.2025 16:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Задание3Процедура] @Конт AS VARCHAR(50) AS BEGIN SELECT Название, Столица, Площадь, Население FROM Страны WHERE Континент != @Конт END
GO
/****** Object:  StoredProcedure [dbo].[Задание4Процедура]    Script Date: 28.04.2025 16:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Задание4Процедура] @A AS FLOAT, @B AS FLOAT AS BEGIN SELECT Название, Столица, Площадь, Население, Континент FROM Страны WHERE Население BETWEEN @A AND @B END
GO
/****** Object:  StoredProcedure [dbo].[Задание5Процедура]    Script Date: 28.04.2025 16:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Задание5Процедура] @Буква AS CHAR(1), @Количество AS INT OUTPUT AS BEGIN SELECT @Количество = COUNT(*) FROM Страны WHERE CHARINDEX(@Буква, Название) = 0 END
GO
/****** Object:  StoredProcedure [dbo].[Задание6Процедура]    Script Date: 28.04.2025 16:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Задание6Процедура] @Конт AS VARCHAR(50) = 'Африка' AS BEGIN SELECT TOP 5 Название, Столица, Площадь, Население, Континент FROM Страны WHERE Континент = @Конт ORDER BY Население DESC END
GO
/****** Object:  StoredProcedure [dbo].[Задание7Процедура]    Script Date: 28.04.2025 16:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Задание7Процедура] AS BEGIN SELECT Название, Столица, Площадь, Население, Континент INTO Страны_К FROM Страны WHERE LEFT(Название, 1) = 'К' END
GO
/****** Object:  StoredProcedure [dbo].[Задание8Процедура]    Script Date: 28.04.2025 16:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Задание8Процедура] AS BEGIN DECLARE @K AS INT SELECT @K = COUNT(*) FROM Страны_К DROP TABLE Страны_К RETURN @K END
GO
/****** Object:  StoredProcedure [dbo].[Задание9Процедура]    Script Date: 28.04.2025 16:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Задание9Процедура] @Число AS INT, @Количество AS INT OUTPUT AS BEGIN DECLARE @N INT = ABS(@Число) SET @Количество = 0 WHILE @N > 0 BEGIN SET @N = @N / 10 SET @Количество = @Количество + 1 END IF @Число = 0 SET @Количество = 1 END
GO
/****** Object:  StoredProcedure [dbo].[Пример1Процедура]    Script Date: 28.04.2025 16:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Пример 1: Создать хранимую процедуру для вывода информации о сервере, базе данных и пользователе */
CREATE PROC [dbo].[Пример1Процедура] AS BEGIN SELECT @@Servername AS Сервер, @@Version AS [Версия СУБД], Db_Name() AS [База данных], User AS [Пользователь базы данных], System_User AS [Системный пользователь] END
GO
/****** Object:  StoredProcedure [dbo].[Пример2Процедура]    Script Date: 28.04.2025 16:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Пример2Процедура] AS BEGIN SELECT Название, Столица FROM Страны END
GO
/****** Object:  StoredProcedure [dbo].[Пример3Процедура]    Script Date: 28.04.2025 16:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Пример3Процедура] @Конт AS VARCHAR(50) AS BEGIN SELECT Название, Столица, Площадь, Население FROM Страны WHERE Континент = @Конт END

GO
/****** Object:  StoredProcedure [dbo].[Пример4Процедура]    Script Date: 28.04.2025 16:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Пример4Процедура] @A AS FLOAT, @B AS FLOAT AS BEGIN SELECT Название, Столица, Площадь, Население, Континент FROM Страны WHERE Площадь BETWEEN @A AND @B END

GO
/****** Object:  StoredProcedure [dbo].[Пример5Процедура]    Script Date: 28.04.2025 16:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Пример5Процедура] @Буква AS CHAR(1), @Количество AS INT OUTPUT AS BEGIN SELECT @Количество = COUNT(*) FROM Страны WHERE CHARINDEX(@Буква, Название) > 0 END
GO
/****** Object:  StoredProcedure [dbo].[Пример6Процедура]    Script Date: 28.04.2025 16:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Пример6Процедура] @Конт AS VARCHAR(50) = 'Европа' AS BEGIN SELECT TOP 3 Название, Столица, Площадь, Население, Континент FROM Страны WHERE Континент = @Конт ORDER BY Площадь END
GO
/****** Object:  StoredProcedure [dbo].[Пример7Процедура]    Script Date: 28.04.2025 16:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Пример7Процедура] AS BEGIN SELECT Название, Столица, Площадь, Население, Континент INTO Страны_У FROM Страны WHERE LEFT(Название, 1) = 'У' END
GO
USE [master]
GO
